body {
  text-align: center;
}

h1 {
  background-color: black;
  /* width: 600px; */
  height: 60px;
  color: white;
  margin: 0 auto;
  margin-bottom: 5px;
  padding-top: 5px;
}

p {
  font-weight: bold;
  margin: 0;
  padding: 0;
}

.warning-message-area {
  height: 30px;
}

.warning-message {
  width: 600px;
  height: 30px;
  margin: 0 auto;
  padding-top: 3px;
  background-color: rgba(136, 3, 3, 0.998);
  color: white;
  font-weight: bold;
  border-radius: 15px;
}

.board {
  width: 480px;
  margin: 0 auto;
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(8, 60px);
  border: solid;
  border-width: 1px 0 0 1px;
  background-color: #007c17;
  border-width: 5px; /* 線を太くする */
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5); /* 影を追加 */
}

.square {
  width: 60px;
  height: 60px;
  border: solid;
  border-width: 0 1px 1px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.stone {
  width: 52px;
  height: 52px;
  border-radius: 50%;
}

.dark {
  background-color: black;
}

.light {
  border: 1px solid;
  background-color: #fff;
}
